// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

// Variables
@import 'variables';



* {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  background-color: #f4f7ff;
  color: #1e2447;
}

#root {
  -webkit-overflow-scrolling: touch;
  height: 100vh;
  overflow: auto;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #c8d2ff;
  border-radius: 10px;
}
