.idea
node_modules
.npmrc
.yarnrc
.DS_Store
.idea
.history
.vscode
node_modules
.npmrc
.yarnrc
vendor
/public/hot
/public/storage
/storage/*.key
vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
dist
build
